@model IEnumerable<VeterinerKlinik.Models.Vaccination>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VaccinationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextVaccinationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vaccine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VaccinationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextVaccinationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.PetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.StaffId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vaccine.ItemId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VaccinationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VaccinationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VaccinationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
